.min-h-screen {
  min-height: 100vh;
}

.mb-2 {
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-yellow {
  color: yellow;
}

.text-orange {
  color: orange;
}

.text-blue {
  color: blue;
}

.text-purple {
  color: purple;
}

.text-nila {
  color: #6f00ff;
}

.bg-gray {
  background-color: #d3d3d3;
}

.mr-2 {
  margin-right: 10px;
}

.text-black {
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

.no-item-opacity-enter-active,
.no-item-opacity-leave-active {
  transition: opacity 0.5s ease;
}

.no-item-opacity-enter-from,
.no-item-opacity-leave-to {
  opacity: 0;
}
